<div class="row filterWorkoutsBlock" style="visibility: @Visible">
    <div class="filterWorkoutsComponent">
        <div class="row">
            <input 
                type="text" 
                class="form-control m-4 mr-5 selectWorkout ml-2"
                placeholder="Название тренеровки"
                @bind-value="_filterName"
                @bind-value:event="oninput"/>
        </div>
        <div class="row">
            <select
                class="selectWorkout form-control ml-2 m-4 mr-5"
                style="background: #403e3e; color: lightgrey;"
                @bind="_filterCategory">

                <option value="None">Категория</option>
                @foreach (var item in FilterCategory)
                {
                    <option value="@item.Filter">@item.Content</option>
                }
            </select>
        </div>
        <div class="row">
            <select
                class="selectWorkout form-control ml-2 m-4 mr-5"
                style="background: #403e3e; color: lightgrey;"
                @bind="_filterModality">

                <option value="None">Модальность</option>
                @foreach (var item in FilterModality)
                {
                    <option value="@item.Filter">@item.Content</option>
                }
            </select>
        </div>
        <div class="row">
            <select
                class="selectWorkout form-control ml-2 m-4 mr-5"
                style="background: #403e3e; color: lightgrey;"
                @bind="_filterComplexity">
                <option value="None">Сложность</option>
                @foreach (var item in FilterComplexity)
                {
                    <option value="@item.Filter">@item.Content</option>
                }
            </select>
        </div>
        <div class="row">
            <input 
                type="text" 
                class="form-control m-4 mr-5 selectWorkout ml-2"
                placeholder="Продолжительность"
                @bind-value="_filterTime"
                @bind-value:event="oninput"/>
        </div>
        <div class="row">
            <div class="col-5 ml-2">
                <button
                    type="button"
                    class="btn btn-primary form-control mb-2"
                    @onclick="Filter">
                    Search
                </button>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <button
                    type="button"
                    class="btn btn-danger form-control mb-2"
                    @onclick="Reset">
                    Reset
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-left text-light pages mb-2">
        <a href="/" class="link">WODCAT</a> &rarr; КросcФит Тренировки (WOD)
    </div>
</div>
<div class="row">
    <div class="col mb-2">
        <h1 class="text-light" style="font-size: 30px;">КросcФит Тренировки (WOD)</h1>
    </div>
</div>
<div class="row">
    <div class="col filterWorkouts mb-2">
        <a @onclick="ChangeVisible">Открыть фильтры поиска</a>
    </div>
</div>
<ListWorkoutsComponent ListOfItems="Workouts"/>