@if (Work is not null)
{
    <span style="color: @Color">@Work&nbsp;</span>
}
@if (IsLink)
{
    <a href="/exercises/@Exercise.Id" style="color: @Color">@Exercise.Name</a>
}
else
{
    <span style="color: @Color">@Exercise.Name</span>
}
