<div class="workouts mb-3 p-2" @onclick="Id">
    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col">
            <a class="Name" href="@Url"><span class="bold">@Workout.Name</span></a>
            <span class="cub">@Workout.Modality</span>
            <span class="greenCub">@Workout.Rating / 10</span>
        </div>
    </div>
    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col-6">
            <span class="exercisesInWorkouts">На время:</span><br/>
            <ListWorkoutsExercisesComponent 
                ListOfItems="WorkoutsExercises"
                IsLink="false"
                Color="#fff"/>
        </div>
        <div class="col-6 text-right">
            @if (Image is not null)
            {
                <img src="@Image" height="100" width="100"/>
            }
        </div>
    </div>
    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col-4 text-left">
            @foreach (var item in WorkoutsCategory!)
            {
                <span>@item</span>
                @if (Value < WorkoutsCategory.Length - 1)
                {
                    <span>&nbsp;|&nbsp;</span>
                    Value++;
                }
            }
        </div>
        <div class="col-4 text-center">
            <span class="exercisesInWorkouts">
                <i class="fa-regular fa-clock"></i>&nbsp;@Workout.Time
            </span>
            &nbsp;&nbsp;&nbsp;
            <span class="exercisesInWorkouts">
                <i class="fa-solid fa-clipboard-check"></i>&nbsp;@ResultWorkoutsCount
            </span>
        </div>
        <div class="col-4 text-right">
            <span>Сложность: @Workout.Complexity</span>
        </div>
    </div>
</div>