<td>@User.Name&nbsp;@User.Surname</td>
<td>@ResultWorkout.Minutes<span>m</span>:@ResultWorkout.Seconds<span>s</span></td>
<td>@ResultWorkout.Repeat</td>
<td>@User.Country</td>
<td>@User.Town</td>
<td>@ResultWorkout.PublishDate</td>
<td>@ResultWorkout.Fascination</td>
<td>@ResultWorkout.Load</td>