<td>
    @if (Image is not null)
    {
        <img src="@Image" width="40" height="40"/>
    }&nbsp;
    <a href="/profile/@User.NickName" class="link">
        @User.Name&nbsp;
        @User.Surname
    </a>
</td>
<td>@ResultWorkout.Time</td>
<td>@ResultWorkout.Repeat</td>
<td>@User.Country</td>
<td>@User.Town</td>
<td>@ResultWorkout.PublishDate.ToString("d")</td>
<td>@ResultWorkout.Fascination</td>
<td>@ResultWorkout.Load</td>
<td>@ResultWorkout.Comment</td>