@if (Work is not null)
{
    <span style="color: @Color">@Work&nbsp;</span>
}
@if (IsLink)
{
    <a href="/exercises/@Exercises.Id" style="color: @Color">@Exercises.Name</a>
}
else
{
    <span style="color: @Color">@Exercises.Name</span>
}
