<div class="programs mb-3">
    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col">
            <a class="Name bold" href="@Url">@Program.Name</a>
            @if (Program.Rating is not null)
            {
                <span class="greenCub">@Program.Rating / 10</span>
            }
        </div>
    </div>
    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col-3">
            @if (Image is not null)
            {
                <img src="@Image" style="width: 100%; height: 250px;"/>
            }
        </div>
        <div class="col-7 text-light">
            @if (Program.Description is not null)
            {
                @Program.Description
            }
        </div>
        <div class="col-2">
            @if (Hall is not null)
            {
                <img
                    src="@HallImage"
                    width="100" height="100"
                    @onclick="() => LinkHall(Hall.Id)"
                    class="home"/>
            }
        </div>
    </div>
    <div class="row ml-1 mt-3 mr-1 mb-3">
        <div class="col-4">
            @Program.Type | @Program.Aim
        </div>
        <div class="col-4 text-center">
            <i class="fa-solid fa-user" style="font-size: 20px;"></i>
            <span style="font-size: 20px;">@Subscribers</span>
        </div>
    </div>
</div>