@if (IsLoginUser)
{
    <div class="row">
        <div class="col">
            <div class="d-inline mr-2">
                @if (Image is not null)
                {
                    <img src="@Image" style="width: 22px; height: 22px;"/>
                }
                <select class="d-inline fingerMoreProfile" @onchange="Route">
                    <option selected value="">@User.NickName</option>
                    @foreach (var item in SelectProfile)
                    {
                        <option value="@item.Link">@item.Content</option>
                    }
                </select>
            </div>
            <div class="d-inline fingerMore mr-2">
                <i class="fa-solid fa-coins" style="color: #9f9ea3;"></i> @User.Points
            </div>
            <select class="d-inline fingerMore mr-5" @onchange="Route">
                <option selected value="">Еще...</option>
                @foreach (var item in SelectedMore)
                {
                    <option value="@item.Link">@item.Content</option>
                }
            </select>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col finger">
            <div class="d-inline fingerMore mr-2" @onclick="Auth">
                <i class="fa-solid fa-fingerprint mr-1"></i>Вход
            </div>
            <select class="d-inline fingerMore mr-5" @onchange="Route">
                <option selected value="">Еще...</option>
                @foreach (var item in SelectedMore)
                {
                    <option value="@item.Link">@item.Content</option>
                }
            </select>
        </div>
    </div>
}