<div class="formAddEditHall mt-3 p-3">
    <div class="row">
        <div class="col">
            <h2 class="mainInfoAboutHall mb-3">Основная информация о клубе</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col mb-2">
                    @if (IsBadEmblem)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="text-danger">Выберите правильный логотип</div>
                            </div>
                        </div>
                    }
                    <h5 style="color: white;">Выберите логотип</h5>
                    <select class="select form-control" @onchange="SelectedImage">
                        <option value="None">Эмблема</option>
                        @foreach (var item in HallEmblem)
                        {
                            <option value="@item.Image">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (Image is not "None")
                    {
                        <img src="@Image" width="150" height="150"/>
                    }                    
                </div>
            </div>
        </div>
        <div class="col-6">
            <EditForm Model="@UpdateHall" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="UpdateHall!.Name"
                            class="selectedFormResult mb-2 mr-2"
                            placeholder="Имя Клуба"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <div class="selectedFormResult" @onclick="() => IsShow = !IsShow">Тип</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @if (IsShow)
                        {
                            @if (HallTypes.Count is not 0)
                            {
                                <div class="selected mb-2">
                                    @foreach (var item in HallTypes)
                                    {
                                        <span class="item mb-2" @onclick="() => AddHallType(item.Value)">@item.Content</span><br/>
                                    }
                                </div>
                            }
                            else
                            {
                                IsShow = false;
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        @foreach (var item in SelectedType)
                        {
                            <span class="foo">@item
                                <button class="selectedTypeClose p-0 mr-3" @onclick="() => RemoveSelectedType(item)" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @bind="UpdateHall.Town">
                            <option value="">Город</option>
                            @foreach (var item in Town)
                            {
                                <option value="@item.Filter">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="UpdateHall!.Location"
                            class="selectedFormResult mb-2"
                            placeholder="Адрес"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @bind="UpdateHall.Rating">
                            <option value="None">Рейтинг</option>
                            @foreach (var item in HallRating)
                            {
                                <option value="@item.Value">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <textarea 
                                placeholder="Описание" 
                                class="textarea" 
                                @bind="UpdateHall!.Description">                                
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                            <button
                                class="btn btn-primary"
                                type="submit">Сохранить</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>