<div class="formAddHall mt-3 p-3">
    <div class="row">
        <div class="col">
            <h5 class="mainInfoAboutHall">Основная информация о клубе</h5>
        </div>
    </div>    
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h5 style="color: white;">Выберите логотип</h5>
                    <select class="select form-control" @onchange="Image">
                        <option value="None">Эмблема</option>
                        @foreach (var item in HallEmblem)
                        {
                            <option value="@item.Image">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="@_image" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-6">
            <EditForm Model="AddHall" OnSubmit="Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="AddHall.Name"
                            class="selectedFormResult mb-2 mr-2"
                            placeholder="Имя Клуба"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @onchange="Type">
                            @foreach (var item in HallTypes)
                            {
                                <option value="@item.Value">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-2">
                        @foreach (var item in SelectedType)
                        {
                            <span class="foo">@item
                                <button class="selectedTypeClose" @onclick="() => RemoveSelectedType(item)" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </span><br/>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @onchange="TownValue">
                            <option value="None">Город</option>
                            @foreach (var item in Town)
                            {
                                <option value="@item.Filter">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="AddHall.Location"
                            class="selectedFormResult mb-2"
                            placeholder="Адрес"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="AddHall.Rating"
                            class="selectedFormResult mb-2"
                            placeholder="Рейтинг от 1 до 10"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <textarea 
                                placeholder="Описание" 
                                class="textarea" 
                                @bind="AddHall.Description">                                
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        @if (!IsDisplaySubmitButton)
                        {
                            <button
                                class="btn btn-primary"
                                disabled="disabled"
                                type="submit">Сохранить</button>
                        }
                        else
                        {
                            <button
                                class="btn btn-primary"
                                type="submit">Сохранить</button>
                        }
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>