<div class="halls mb-3">
    <div class="row">
        <div class="col-3">
            <div style="position: absolute; width: 100px; height: 50px; padding: 10px;">
                <i class="fa-solid fa-user" style="font-size: 20px;"></i>
                <span style="font-size: 20px;">@Athletes</span>
            </div>
            @if (Image is not null)
            {
                <img src="@Image" width="300" height="300"/>
            }
        </div>
        <div class="col-9 p-3">
            <div class="row">
                <div class="col mb-2">
                    <a class="Name mr-2" href="@Url"><span class="bold">@Hall.Name</span></a>
                    @if (Hall.Rating is not null)
                    {
                        <span class="greenCub">@Hall.Rating / 10</span>
                    }
                </div>
            </div>
            @if (HallType is not null)
            {
                <div class="row">
                    <div class="col mb-2">
                        @foreach (var item in HallType)
                        {
                            <span>@item</span>
                            @if (Value < HallType.Length - 1)
                            {
                                <span>&nbsp;|&nbsp;</span>
                                Value++;
                            }
                        }
                    </div>
                </div>
            }
            @if (Hall.Description is not null)
            {
                <div class="row">
                    <div class="col mb-2">
                        <div class="pr-3">@Hall.Description</div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col">
                    <img src="img/Ukraine.png" style="width: 30px; height: 20px;" class="mr-2"/>
                    <strong style="color: #a3a2ab;">Украина, @Hall.Town</strong>
                </div>
            </div>
        </div>
    </div>
</div>