@page "/gymboxs/{HallId:int}"

<HeaderComponent />

<ConfirmRemoveHall
    @ref="ConfirmRemoveHall"
    OnCancel="OnCancel" 
    OnShow="OnShow"
    Hall="Hall"
    HallId="HallId"/>

<div class="row">
    <div class="col visualContainerId">
        <div class="row" style="margin: 0 250px;">
            <div class="col-6 text-left text-light pages p-0 mb-3">
                <a href="/" class="link">WODCAT</a> &rarr; 
                <a href="/gymboxs" class="link">Кроссфит залы</a> &rarr; @Hall.Name
            </div>
            @if (User is not null)
            {
                @if (User.Id == Hall.UserId)
                {
                    <div class="col-6 text-right text-light pages mb-3">
                        <button class="btn btn-primary text-white" @onclick="Edit" style="font-weight: bold;">Редактировать</button>
                        <button class="btn btn-danger text-white" @onclick="OnShow" style="font-weight: bold;">Удалить</button>
                    </div>
                }
            }
        </div>
        <div class="HallId">
            <div class="row mb-3">
                <div class="col-4">
                    <img src="@Image" style="background: white; width: 200px; height: 200px;" alt=""/>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <h1 class="h1Id">@Hall.Name</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="img/Ukraine.png" style="width: 30px; height: 20px;" class="mr-2"/>
                            <strong style="color: #333333;">Украина, @Hall.Town</strong>
                        </div>
                    </div>
                    @if (Hall.Rating is not null)
                    {
                        <div class="row">
                            <div class="col">
                                <span style="color: #4caf50;">@Hall.Rating / 10</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col p-3 mb-3" style="font-size: 20px;line-height: 21px;font-weight: 500;">
                    @foreach (var item in Type)
                    {
                        <span style="color: grey;">@item&nbsp;</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col countAthletes text-white" style="margin: 0 400px;">
                    @Athletes
                </div>
            </div>
            <div class="row mb-3">
                <div class="col text-center">
                    <span class="athletes">Атлетов</span>
                </div>
            </div>
            @if (IsLoginUser)
            {
                @if (User!.HallId != Hall.Id)
                {
                    <div class="row mb-3">
                        <div class="col">
                            <button class="joinHall" @onclick="Join">Присоединиться</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row mb-3">
                        <div class="col">
                            <button class="exitHall" @onclick="Exit">Выйти</button>
                        </div>
                    </div>
                }
            }
            <div class="row mb-3">
                <div class="col text-center">
                    <strong style="color: #333333;">Whiteboard</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col footerHall @Top">
        <div class="footerLocation">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <img src="img/location-bg.png" width="100" height="150"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1 class="location">Локация</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong style="color: white;">Украина, @Hall.Town</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span style="color: #bdc1c6;">@Hall.Location</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <img src="img/members-bg.png" width="100" height="150"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1 class="location">Атлетов</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong style="color: white;">@Athletes</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>