<div class="formAddHall mt-3 p-3">   
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col mb-2">
                    @if (Image is not null)
                    {
                        <img src="@Image" alt="" width="150" height="150"/>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <EditForm Model="AuthUser" OnSubmit="Auth">
                        <div class="row">
                            <div class="col mb-2">
                                <InputText
                                    @bind-Value="AuthUser.NickName"
                                    class="selectedFormResult mb-2 mr-2"
                                    placeholder="Ник"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <InputText
                                    @bind-Value="AuthUser.Email"
                                    class="selectedFormResult mb-2 mr-2"
                                    placeholder="E-mail"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <InputText
                                    type="password"
                                    @bind-Value="AuthUser.Password"
                                    class="selectedFormResult mb-2 mr-2"
                                    placeholder="Пароль"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <InputText
                                    type="password"
                                    @bind-Value="AuthUser.ConfirmPassword"
                                    class="selectedFormResult mb-2 mr-2"
                                    placeholder="Подтвердить Пароль"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-primary" type="submit">Сохранить</button>
                            </div> 
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <h5 style="color: white;">Выберите зал</h5>
                    @if (UserHall is not null)
                    {
                        <div class="selectedFormResult" @onclick="() => IsShow = !IsShow">
                            <img src="@HallImage" width="75" height="75"/>
                            @UserHall.Name
                        </div>
                    }
                    else
                    {
                        <div class="selectedFormResult" @onclick="() => IsShow = !IsShow">Зал</div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (IsShow)
                    {
                        <div class="selected mb-2">
                            @foreach (var item in Halls)
                            {
                                <IndividualProfileHallComponent Hall="item"/>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <EditForm Model="EditUser" OnSubmit="Submit">
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="EditUser.Name"
                            class="selectedFormResult mb-2 mr-2"
                            placeholder="Имя"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="EditUser.Surname"
                            class="selectedFormResult mb-2 mr-2"
                            placeholder="Фамилия"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @onchange="TownValue">
                            <option value="None">Город</option>
                            @foreach (var item in Town)
                            {
                                <option value="@item.Filter">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="color: lightgrey">Пол</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <div class="custom-control custom-checkbox">
                            <input 
                                type="checkbox" 
                                class="custom-control-input" 
                                id="man" 
                                @bind="Man" 
                                @onclick="() => Woman = !Woman"/>
                            <label 
                                class="custom-control-label" 
                                for="man"
                                style="color: lightgrey">Мужчина</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <div class="custom-control custom-checkbox">
                            <input 
                                type="checkbox" 
                                class="custom-control-input" 
                                id="woman" 
                                @bind="Woman" 
                                @onclick="() => Man = !Man"/>
                            <label 
                                class="custom-control-label" 
                                for="woman" 
                                style="color: lightgrey">Женщина</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="color: lightgrey">День рождения</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputDate
                            @bind-Value="EditUser.Birthday"
                            class="selectedFormResult mb-2"
                            placeholder="День рождения"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="color: lightgrey">Рост</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="EditUser.Height"
                            class="selectedFormResult mb-2"
                            placeholder="Рост"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="color: lightgrey">Вес</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="EditUser.Weight"
                            class="selectedFormResult mb-2"
                            placeholder="Вес"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="color: lightgrey">О себе</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="EditUser.AboutMe"
                            class="selectedFormResult mb-2"
                            placeholder="О себе"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>