<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <HeaderComponent User="User"/>
            <div class="wrapperId">
                <div class="row">
                    <div class="col">
                        <h5 class="text-white">Sorry, there's nothing at this address.</h5>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
