<div class="row">
    <div class="col-2 pr-1">
        <select class="d-inline fingerFilter pt-2 pb-2" @bind="_filterModality">
            <option value="None">Модальность</option>
            @foreach (var item in FilterModality)
            {
                <option value="@item.Filter">@item.Content</option>
            }
        </select>
    </div>
    <div class="col-2 pr-1">
        <select class="d-inline fingerFilter pt-2 pb-2" @bind="_filterMovement">
            <option value="None">Движения</option>
            @foreach (var item in FilterMovement)
            {
                <option value="@item.Filter">@item.Content</option>
            }
        </select>
    </div>
    <div class="col-2 pr-1">
        <select class="d-inline fingerFilter pt-2 pb-2" @bind="_filterComplexity">
            <option value="None">Cложности</option>
            @foreach (var item in FilterComplexity)
            {
                <option value="@item.Filter">@item.Content</option>
            }
        </select>
    </div>
    <div class="col-2 pr-1">
        <select class="d-inline fingerFilter pt-2 pb-2" @bind="_filterInventory">
            <option value="None">Инвентарь</option>
            @foreach (var item in FilterInventory)
            {
                <option value="@item.Filter">@item.Content</option>
            }
        </select>
    </div>
    <div class="col-2 pr-1">
        <button
            type="button"
            class="btn btn-primary form-control mb-2"
            @onclick="Filter">
            Search
        </button>
    </div>
    <div class="col-2">
        <button
            type="button"
            class="btn btn-danger form-control mb-2"
            @onclick="Reset">
            Reset
        </button>
    </div>
</div>
<ListExercisesComponent ListOfItems="Exercises"/>