<tbody>
    <tr class="tableheader">
        <td>
            @if (GenderImage is not null)
            {
                <img src="@GenderImage" width="50" height="50"/>
            }&nbsp;
            <a href="/profile/@User.NickName" class="link">
                @User.Name&nbsp;
                @User.Surname
            </a>
        </td>
        <td>@User.Town</td>
        <td class="p-0">
            @if (Image is not null)
            {
                <img src="@Image" width="75" height="75"/>
            }
        </td>
        <td>@User.Points</td>
        <td>@Position</td>
    </tr>
</tbody>