<tbody>
    <tr class="tableheader">
        <td>
            <img src="@Gender" width="50" height="50"/>&nbsp;
            @User.Name&nbsp;
            @User.Surname
        </td>
        <td>@User.Town</td>
        <td class="p-0">
            @if (Image is not null)
            {
                <img src="@Image" width="70" height="70"/>
            }
        </td>
        <td>@User.Points</td>
        <td>@Position</td>
    </tr>
</tbody>