<div class="formAddEditEvent mt-3 p-3">
    <div class="row">
        <div class="col">
            <h2 class="mainInfoAboutEvent mb-3">Основная информация о мероприятии</h2>
        </div>
    </div>    
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col mb-2">
                    @if (IsBadLeftSite)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="text-danger">Выберите правильный логотип, зал или задание</div>
                            </div>
                        </div>
                    }
                    <h5 style="color: white;">Выберите логотип</h5>
                    <select class="select form-control" @onchange="SelectedImage">
                        <option value="None">Эмблема</option>
                        @foreach (var item in EventEmblem)
                        {
                            <option value="@item.Image">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    @if (Image is not "None")
                    {
                        <img src="@Image" width="300" height="150"/>
                    }                    
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <h5 style="color: white;">Выберите зал</h5>
                    <select class="select form-control" @onchange="SelectedHallImage">
                        <option value="None">Зал</option>
                        @foreach (var item in Halls)
                        {
                            <option value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    @if (HallImage is not "None")
                    {
                        <img src="@HallImage" width="150" height="150"/>
                    }                    
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <h5 style="color: white;">Выберите задание</h5>
                    <select class="select form-control" @onchange="SelectedWorkoutImage">
                        <option value="None">Тренировка</option>
                        @foreach (var item in Workouts)
                        {
                            <option value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    @if (Workout is not null && WorkoutImage is not "None")
                    {
                        <IndividualWorkoutsComponent Workout="Workout"/>
                    }                    
                </div>
            </div>
        </div>
        <div class="col-6">
            <EditForm Model="@UpdateEvent" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @if (IsFallEvent)
                {
                    <div class="row">
                        <div class="col mb-2">
                            <div class="text-danger">
                                Дата регистрации позже даты начала или Дата начала позже даты окончания или даты в прошлом
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="UpdateEvent!.Name"
                            class="selectedFormResult mb-2 mr-2"
                            placeholder="Имя Клуба"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @bind="UpdateEvent.TypeEvent">
                            <option value="None">Тип мероприятия</option>
                            @foreach (var item in TypeEvent)
                            {
                                <option value="@item.Value">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @bind="UpdateEvent.TypeSport">
                            <option value="None">Вид спорта</option>
                            @foreach (var item in TypeSport)
                            {
                                <option value="@item.Value">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <select class="selectedFormResult mb-2" @bind="UpdateEvent.Town">
                            <option value="">Город</option>
                            @foreach (var item in Town)
                            {
                                <option value="@item.Filter">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <InputText
                            @bind-Value="UpdateEvent.Location"
                            class="selectedFormResult mb-2"
                            placeholder="Адрес"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <textarea 
                                placeholder="Описание" 
                                class="textarea" 
                                @bind="UpdateEvent.Description">                                
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <span style="color: lightgrey;">Начало</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-6">
                                <input 
                                    type="datetime-local" 
                                    step="1" 
                                    class="selectedFormResult mb-2 mr-2" 
                                    @bind="UpdateEvent.StartDate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <span style="color: lightgrey;">Завершение</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-6">
                                <input 
                                    type="datetime-local" 
                                    step="1" 
                                    class="selectedFormResult mb-2 mr-2" 
                                    @bind="UpdateEvent.EndDate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <span style="color: lightgrey;">Регестрация до</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-6">
                                <input 
                                    type="datetime-local" 
                                    step="1" 
                                    class="selectedFormResult mb-2 mr-2" 
                                    @bind="UpdateEvent.RegisterDate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button
                            class="btn btn-primary"
                            type="submit">Сохранить</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>